extends layout

block content
  for author in authors
    div.authorContainer
      img(src=author.photo_url)
      div.authorInfo
        a(href="/authors/" + author.id)
          h3 #{author.last_name}, #{author.first_name}
          p= author.bio
        
        
        
        
  a(href="/authors/new") New Author
  br
  a(href="/books") Books 
    
