extends layout

block content
  form(action="/authors/new" method="post" class="authorForm")
    label(for='first_name') First Name
    input(type='text' name="first_name")
    label(for='last_name') Last Name
    input(type='text' name='last_name')
    label(for='photo_url') Photo Url
    input(type='text' name='photo_url')
    label(for='bio') Bio
    input(type='text' name='bio')
    button(type='submit') Submit
