extends layout

block content
  form(action="/books/new" method="post" class="bookForm")
    label(for='title') Book Title
    input(type='text' name="title")
    label(for='genre') Genre
    input(type='text' name='genre')
    label(for='img_url') Picture URL
    input(type='text' name='img_url')
    label(for='desc') Book Description
    input(type='text' name='desc')
    select.authorSelect(name='author')
      for author in authors
        option(value=author.id) #{author.first_name} #{author.last_name}
    button(type='submit') Submit

  a(href="/books") Back
